* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem;
}

#navbar {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  align-items: end;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #ddd;
  color: #006873;
  font-weight: bold;
  text-decoration: none;
}
nav {
  display: flex;
  gap: 1ch;
}
nav a {
  text-decoration: none;
  color: #006873;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #092f36;
}
#brand {
  display: flex;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 30px;
  color: #e63426;
  display: flex;
  align-items: end;
  font-family: copperplate;
}

header img {
  height: 10ch;
  width: 15ch;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#link {
  color: #006093;
}

#instruments {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

li.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
  list-style: none;
}
#instruments {
  display: grid;
  gap: 1rem;
}
li.instrument h2 div {
  display: grid;
  grid-template-columns: 10ch 1fr;
  gap: 1ch;
  background: #eee;
  padding: 0.5rem;
}
li img {
  font-size: 5rem;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 50ch;
  height: 100px;
}

form {
  text-align: center;
  padding-left: 10ch;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 10ch;
}

section {
  grid-column: 2 / 4;
  text-align: center;
  padding-bottom: 10ch;
  padding-right: 5ch;
}

img {
  width: 15ch;
  height: 18ch;
  border-radius: 10%;
}

#img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#img2 {
  grid-column: 4;
  grid-row: 1 / 2;
}

#img3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#img4 {
  grid-column: 4;
  grid-row: 2 / 3;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #ddd;
  color: #ddd;
  height: 25px;
}

h2 {
  text-align: center;
}

.Error404 {
  background-image: url("public/photos/music-154332_1280.png");
}
